body {
  position: relative;
  font-size: 18px;
  font-family: Georgia, serif;
  padding-bottom: 30px;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Sanchez', serif;
  color: #000;
}

h2 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 3.5vmax;
}
h3 {
  font-size: 2.8vmax;
  margin-top: 30px;
  margin-bottom: 20px;
}
h4 {
  font-size: 2vmax;
}

section {
  padding-top: 5vmax;
}

.navbar {
  font-size: 18px;
  text-align: center;
  min-height: 30px;
}
.navbar .nav {
  font-family: 'Sanchez', serif;
  width: 100%;
  min-height: 30px;
}

.navbar-nav>li>a {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 20px;
  min-height: 70vh;
}

.sub-title {
  font-family: 'Sanchez', serif;
  margin-top: -20px;
  margin-bottom: 30px;
  font-style: italic;
  color: #999;
}

.intro {
  background-size: cover;
  display: table;
  width: 100%;
  height: 2000px;
  font-family: 'Sanchez', serif;
  text-align: center;
  position: relative;
  z-index: 2030;
  overflow: hidden;
}

.intro h1 {
  font-size: 5.5vmax;
  margin-top: 0;
}

.intro h2 {
  margin-top: 65px;
  margin-bottom: 20px;
  font-size: 1.8vmax;
}

.intro nav {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 10%;
  font-size: 20px;
}
.intro .nav>li>a {
  padding: 5px;
}
.intro .navbar .nav {
  background-color: rgba(255, 255, 255, 0.4);
}
.intro a {
  color: #000;
  text-shadow: 0 0 4px rgba(255, 255, 255, 0.7);
}

.page-capitulo1 .intro {
  background-image: url('../img/cap1_home.jpg');
}
.page-capitulo1 .navbar li {
  width: 20%;
}
.page-capitulo1 h3 {
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
  color: #999;
}

.page-capitulo2 .intro {
  background-image: url('../img/cap2_home.jpg');
}
.page-capitulo2 .intro h1, .page-capitulo2 .intro h2 {
  color: #fff;
  opacity: 0.8;
  text-shadow: 0 0 4px rgba(0,0,0,0.6);
}
.page-capitulo2 .navbar li {
  width: 20%;
  font-size: 16px;
}
.page-capitulo2 .intro a {
  color: #fff;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
}

.page-capitulo3 h1, .page-capitulo3 h2, .page-capitulo3 h3 {
  color: #fff;
}
.page-capitulo3 .intro {
  background-image: url('../img/cap3_home.jpg');
}
.page-capitulo3 .intro, .page-capitulo3 section {
  box-shadow: 0 0 15px 1px rgba(0,0,0,.7);
  position: relative;
}
.page-capitulo3 .intro nav {
  bottom: 10px;
  font-size: 24px;
}
.page-capitulo3 .navbar li {
  width: 25%;
}
.page-capitulo3 section {
  color: #fff;
  background-size: cover;
  background-attachment: fixed;
  background-position: right center;
  padding-bottom: 30px;
  padding-right: 40px;
  padding-left: 40px;
  font-size: 16px;
  position: relative;
}
.page-capitulo3 #juliard {
  background-image: url('../img/cap3_brasil.jpg');
  z-index: 100;
}
.page-capitulo3 #nancy {
  background-image: url('../img/cap3_guate.jpg');
  z-index: 90;
}
.page-capitulo3 #yeimi {
  background-image: url('../img/cap3_salvador.jpg');
  z-index: 70;
}
.page-capitulo3 #wilmer {
  background-image: url('../img/cap3_honduras.jpg');
  z-index: 80;
}

.page-capitulo4 .intro {
  background-image: url('../img/cap4_home.jpg');
  z-index: 110;
}

.intro .intro-video {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
.intro .intro-video iframe {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}
.intro .logos {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: #fff;
  height: 90px;
  z-index: 20;
}
.intro .logos img {
  width: auto;
  margin: 12px 5px;
}
.intro .logos .periodistas-logo {
  height: 72px;
  margin: 8px 18px 0 0;
}
.intro .logos .connectas-logo {
  height: 48px;
  margin: 6px 0 0 18px;
}
.row.photos {
  margin-top: 35px;
  margin-bottom: 35px;
}
.photos img {
  margin-bottom: 20px;
}
.video {
  margin: 30px 0;
}
.timeline {
  margin-top: 20px;
  margin-bottom: 20px;
}
p.caption {
  margin-top: -10px;
  font-size: 14px;
  text-align: right;
  font-style: italic;
  color: #666;
}
.map img {
  margin-top: 15px;
  margin-bottom: 50px;
}
