body {
  position: relative;
  font-size: 18px;
  font-family: Georgia, serif;
  text-align: left;
  line-height: 1.5em;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Sanchez', serif;
  color: #000;
  line-height: 1.2;
  text-align: center;
}

h2 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 3.5vmax;
  text-align: center;
}
h3 {
  font-size: 2.8vmax;
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
}
h4 {
  font-size: 2vmax;
  text-align: center;
}

section {
  padding-top: 5vmax;
}

.navbar {
  font-size: 16px;
  text-align: center;
  min-height: 30px;
  z-index: 9999;
}

.navbar .nav {
  font-family: 'Sanchez', serif;
  width: 100%;
  min-height: 30px;
}

.navbar-nav>li>a {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 20px;
  min-height: 70vh;
}

.sub-title {
  font-family: 'Sanchez', serif;
  margin-top: -20px;
  margin-bottom: 30px;
  font-style: italic;
  color: #999;
  text-align: center;
}

.intro {
  background-size: cover;
  display: table;
  width: 100%;
  height: 2000px;
  font-family: 'Sanchez', serif;
  text-align: center;
  position: relative;
  z-index: 2030;
  overflow: hidden;
}

.intro h1 {
  font-size: 5.5vmax;
  margin-top: 0;
}

.intro h2 {
  margin-top: 65px;
  margin-bottom: 20px;
  font-size: 1.8vmax;
}

.intro nav {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 10%;
  font-size: 20px;
}
.intro .nav>li>a {
  padding: 5px;
}
.intro .navbar .nav {
  background-color: rgba(255, 255, 255, 1);
}
.intro a {
  color: #000;
  text-shadow: 0 0 4px rgba(255, 255, 255, 0.7);
}

.intro .intro-video {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
.intro .intro-video iframe {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}
.intro .intro-content {
  position: absolute;
  z-index: 20;
  color: #fff;
  font-size: 1.4vmax;
  line-height: 1.4;
  text-shadow: 0 0 3px rgba(0,0,0,0.9);
  background-color: rgba(0,0,0,.4);
  left: 20px;
  right: 20px;
  top: 0;
  bottom: 80px;
  overflow-y: scroll;
}
.intro .intro-content p {
  max-width: 70vmax;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}
.intro .intro-content img {
  width: 20%;
  margin-top: 20px;
  margin-bottom: 3vmin;
}
.intro .logos {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: #fff;
  height: 80px;
  z-index: 20;
}
.intro .logos img {
  width: auto;
  margin: 12px 5px;
}
.intro .logos .periodistas-logo {
  height: 68px;
  margin: 6px 0 0 0;
}
.intro .logos .connectas-logo {
  height: 48px;
  margin: 6px 0 0 18px;
}
.iframe-container, .iframe-container iframe {
  display: block;
  margin: 0 auto;
  width: 640px;
  height: 480px;
}
.row.photos {
  margin-top: 35px;
  margin-bottom: 3px;
}
.mini-map {
  float: left;
  margin-right: 5px;
  max-width: 500px;
}
.photos img {
  margin-bottom: 20px;
}
.photos img.no-margin {
  margin-bottom: 0;
}
.video {
  margin: 30px 0;
}
.timeline {
  margin-top: 20px;
  margin-bottom: 20px;
}
p.caption {
  margin-top: -10px;
  font-size: 14px;
  text-align: right;
  font-style: italic;
  color: #666;
}
.map img {
  margin-top: 15px;
  margin-bottom: 10px;
}
.page-index {
  padding: 0;
  overflow: hidden;
}

.page-capitulo1 .intro {
  background-image: url('../img/cap5_home.jpg');
}

.page-capitulo1 .intro h1, .page-capitulo1 .intro h2 {
  color: #fff;
  opacity: 0.8;
  text-shadow: 0 0 4px rgba(0,0,0,0.6);
}
.page-capitulo1 section h3 {
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
  color: #999;
}

.page-capitulo2 .intro {
  background-image: url('../img/cap2_home.jpg');
}
.page-capitulo2 .intro h1, .page-capitulo2 .intro h2 {
  color: #fff;
  opacity: 0.8;
  text-shadow: 0 0 4px rgba(0,0,0,0.6);
}

.page-capitulo2 section h3, .page-capitulo2 section h4 {
  text-align: left;
}
.page-capitulo2 #levantamiento .photos img {
  margin-top: 30px;
}

.page-capitulo3 h1, .page-capitulo3 h2, .page-capitulo3 h3 {
  color: #fff;
}
.page-capitulo3 .intro {
  background-image: url('../img/cap3_home.jpg');
}
.page-capitulo3 .intro, .page-capitulo3 section {
  box-shadow: 0 0 15px 1px rgba(0,0,0,.7);
  position: relative;
}
.page-capitulo3 .intro nav {
  bottom: 10px;
  font-size: 24px;
}
.page-capitulo3 section {
  color: #fff;
  background-size: cover;
  background-attachment: fixed;
  background-position: right center;
  padding-bottom: 30px;
  padding-right: 40px;
  padding-left: 40px;
  font-size: 16px;
  position: relative;
}
.page-capitulo3 #juliard {
  background-image: url('../img/cap3_brasil.jpg');
  z-index: 100;
}
.page-capitulo3 #nancy {
  background-image: url('../img/cap3_guate.jpg');
  z-index: 90;
}
.page-capitulo3 #yeimi {
  background-image: url('../img/cap3_salvador.jpg');
  z-index: 70;
}
.page-capitulo3 #wilmer {
  background-image: url('../img/cap3_honduras.jpg');
  z-index: 80;
}

.page-capitulo4 {
  background-image: url('../img/cap4_back.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: right center;
  font-family: Courier, serif;
}

.image-credit {
  font-size: 14px;
  line-height: 20px;
}

.page-capitulo4 .intro {
  background-image: url('../img/cap4_back.jpg');
  color: #fff;
  background-size: cover;
  background-attachment: fixed;
  background-position: right center;
  padding-bottom: 30px;
  padding-right: 40px;
  padding-left: 40px;
  position: relative;
  opacity: 0.8;
}



.page-capitulo4 .intro-text{
  text-align: left;
  color: #000;
  margin-right: 70px;
  margin-left: 70px;
  font-weight: bold;
  margin-bottom: 30px;

}

.page-capitulo4 section img {
  border: 1px solid #ddd;
  box-shadow: 0 0 10px 1px rgba(0,0,0,0.5);
  margin-bottom: 20px;
}
.page-capitulo4 section {
  padding-top: 0;
  padding-bottom: 5vmax;
  border-top: 1px solid #666;
  box-shadow: 0 0 15px 1px rgba(0,0,0,.7);
}

.page-capitulo4 section h2,
.page-capitulo4 section h3,
.page-capitulo4 section h4 {
  text-align: left;
}

.page-capitulo5 .intro {
  background-image: url('../img/cap5_sf.jpg');
}

.page-capitulo5 .intro h1, .page-capitulo5 .intro h2 {
  color: #fff;
  opacity: 1;
  text-shadow: 0 0 4px rgba(0,0,0,0.6);
}

.page-capitulo6 .intro h1, .page-capitulo6 .intro h2 {
  color: #000;
}

.page-capitulo6 .container{
  text-align: left;
  color: #000;
}

.audio-credit {
  font-style: italic;
}

.creditos .logos {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: #fff;
  height: 90px;
  z-index: 20;
}
.creditos .logos img {
  width: auto;
  margin: 12px 5px;
}
.creditos .logos .periodistas-logo {
  height: 72px;
  margin: 8px 18px 0 0;
}
.creditos .logos .connectas-logo {
  height: 48px;
  margin: 6px 0 0 18px;
}

.navbar img {
  width: auto;
  height: 22px;
  margin-top: -6px;
}
.dropdown>a {
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  color: #ddd !important;
}
.dropdown-menu>li>a {
  font-size: 20px;
}
.navbar-header img {
  height: 30px;
  margin: 9px 0 0 8px;
  float: left;
}
.chapter-nav {
  font-family: "Sanchez", serif;
  margin-top: 40px;
  background-color: #ccc;
  padding: 20px;
}
.chapter-nav p {
  margin-bottom: 0;
}
.chapter-nav a:hover {
  text-decoration: none;
}
.chapter-nav a .direction-label {
  font-size: 12px;
  line-height: 1;
  margin-bottom: 2px;
  color: #666;
}
.chapter-nav a .title {
  color: #444;
  font-size: 24px;
}
.chapter-nav a:hover .title {
  color: #000;
  text-decoration: underline;
}
.chapter-nav .previous {
  text-align: right;
}
.chapter-nav a .title i {
  font-size: 15px;
}


.culpable-header-wrapper h2 {
  margin-bottom: 0;
  text-align: left;
}
.culpable-header-wrapper {
  margin-bottom: 30px;
  padding: 15px 0;
  color: #000
}

#autopsias {
  background-color: #fff;
}

.victimas-intro {
  margin-left: 10%;
  margin-right: 10%;
  color: #fff;
  background-color: rgba(25,25,25,0.5);
  padding: 10px;

}

@media (min-width:768px) {
  .page-capitulo1 .intro .navbar li {
    width: 16.6%;
  }
  .page-capitulo2 .intro .navbar li {
    width: 25%;
  }
  .page-capitulo3 .intro .navbar li {
    width: 25%;
  }
  .page-capitulo1 .navbar-peekaboo li {
    width: 16.6%;
  }
  .page-capitulo2 .navbar-peekaboo li {
    width: 25%;
  }
  .page-capitulo3 .navbar-peekaboo li {
    width: 25%;
  }
}

dt { 
  margin-bottom: 15px;
}
dd {
  margin-bottom: 25px;
}

.capturados {margin-bottom: 40px;}

.intro .captucabeza {
  margin-top: 30px;
}

.navbar-peekaboo {
  position: fixed;
  width: 100%;
  top: 30px;
  z-index: 999;
  font-size: 20px;
  border-bottom: 1px solid #999;
}
.navbar-peekaboo>li>a {
  padding: 5px;
}
.navbar-peekaboo .nav {
  background-color: rgba(255, 255, 255, 1);
}
.navbar-peekaboo a {
  color: #000;
  text-shadow: 0 0 4px rgba(255, 255, 255, 0.7);
}
.navbar-peekaboo .active a {
  background-color: #eee;
}
.page-creditos dd{
  margin-bottom: 8px;
  text-align: left;
  font-size: 14px;
}

.page-creditos {
  padding-top: 65px;
}

.page-creditos h3 {
  font-size: 30px;
  text-align: center;
}

.page-creditos h4 {
  font-size: 16px;
  text-align: left;
}

.page-creditos h5 {
  font-size: 30px;
  text-align: center;
}

.primary-credits dd {
  text-align: center;
}

.download-buttons .btn {
  white-space: normal;
}

#repatriaciones h4{
  font-size: 20px;
}

.jp-audio {
  position: relative;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: left;
  width: 100%;
  height: 42px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #7e3400;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 0;
  line-height: 0;
}
.jp-audio .jp-controls {
  left: 0;
  position: absolute;
  top: 0;
  width: 42px;
  height: 100%;
  background-color: #000;
}
.jp-audio .jp-controls a {
  text-decoration: none;
  font-size: 20px;
  padding-left: 12px;
  line-height: 42px;
  text-align: center;
  cursor: pointer;
  color: #7e3400;
}
.jp-audio .jp-controls a:hover {
  color: #ffd850;
}
.jp-audio .jp-controls a:before {
  display: inline-block;
  font-family: flat-audio;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
  font-variant: normal;
  text-transform: none;
  speak: none;
  width: 42px;
  line-height: 42px;
  text-align: center;
  opacity: 1;
}
.jp-audio .jp-progress {
  position: absolute;
  top: 0;
  left: 42px;
  right: 0;
  height: 100%;
  background-color: rgba(0,0,0,.5);
}
.jp-audio .jp-progress .jp-seek-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  cursor: pointer;
}
.jp-audio .jp-progress .jp-seek-bar .jp-play-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: rgba(0,0,0,.5);
}
.jp-audio .jp-current-time {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  padding: 0 12px;
  font-size: 16px;
  line-height: 42px;
  text-align: right;
  pointer-events:none;
}
.jp-audio .jp-no-solution {
  position: absolute;
  top: 0;
  left: 42px;
  right: 0;
  height: 42px;
  padding: 8px 0;
  line-height: 24px;
  font-size: 16px;
  text-align: center;
  display: none;
  color: #ffd850;
  background-color: #b28282;
}

.cuerpos-table {
  font-size: 14px;
}
.cuerpos-table .numero {
  width: 15%;
}
.cuerpos-table .sexo {
  width: 15%;
}
.cuerpos-table .ropa-y-pertenencias {
  width: 35%;
}
.cuerpos-table .filiacion {
  width: 35%;
}

.page-cuerpos {
  padding-top: 40px;
}

@media (max-width:767px) {
  body {
    font-size: 14px;
  }
  .iframe-container, .iframe-container iframe {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 300px;
  }
  .navbar-peekaboo {
    display: none;
  }
  .chapter-nav a .title {
    font-size: 12px;
  }
  .chapter-nav a .title i {
    font-size: 10px;
  }

  .pull-right {
    float: none!important;
  }

  .navbar-nav {
    margin: 8px 0;
  }

  .page-capitulo4 .intro-text {
    margin-left: 0;
    margin-right: 0;
  }
}
