body {
  position: relative;
  font-size: 18px;
  font-family: Georgia, serif;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Sanchez', serif;
  color: #000;
  line-height: 1.2;
}

h2 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 3.5vmax;
  text-align: center;
}
h3 {
  font-size: 2.8vmax;
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
}
h4 {
  font-size: 2vmax;
  text-align: center;
}

section {
  padding-top: 5vmax;
}

.navbar {
  font-size: 14px;
  text-align: center;
  min-height: 30px;
}
.navbar .nav {
  font-family: 'Sanchez', serif;
  width: 100%;
  min-height: 30px;
}

.navbar-nav>li>a {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 20px;
  min-height: 70vh;
}

.sub-title {
  font-family: 'Sanchez', serif;
  margin-top: -20px;
  margin-bottom: 30px;
  font-style: italic;
  color: #999;
  text-align: center;
}

.intro {
  background-size: cover;
  display: table;
  width: 100%;
  height: 2000px;
  font-family: 'Sanchez', serif;
  text-align: center;
  position: relative;
  z-index: 2030;
  overflow: hidden;
}

.intro h1 {
  font-size: 5.5vmax;
  margin-top: 0;
}

.intro h2 {
  margin-top: 65px;
  margin-bottom: 20px;
  font-size: 1.8vmax;
}

.intro nav {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 10%;
  font-size: 20px;
}
.intro .nav>li>a {
  padding: 5px;
}
.intro .navbar .nav {
  background-color: rgba(255, 255, 255, 0.4);
}
.intro a {
  color: #000;
  text-shadow: 0 0 4px rgba(255, 255, 255, 0.7);
}

.intro .intro-video {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
.intro .intro-video iframe {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}
.intro .intro-content {
  position: relative;
  z-index: 20;
  color: #fff;
  padding: 0 20px;
  font-size: 1.4vmax;
  text-shadow: 0 0 3px rgba(0,0,0,0.9);
  background-color: rgba(0,0,0,.4);
  width: 100%;
  height: 100%;
}
.intro .intro-content p {
  max-width: 65vmax;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}
.intro .intro-content img {
  width: 300px;
  margin-top: 30px;
  margin-bottom: 8vmax;
}
.intro .logos {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: #fff;
  height: 90px;
  z-index: 20;
}
.intro .logos img {
  width: auto;
  margin: 12px 5px;
}
.intro .logos .periodistas-logo {
  height: 72px;
  margin: 8px 18px 0 0;
}
.intro .logos .connectas-logo {
  height: 48px;
  margin: 6px 0 0 18px;
}
.row.photos {
  margin-top: 35px;
  margin-bottom: 35px;
}
.photos img {
  margin-bottom: 20px;
}
.video {
  margin: 30px 0;
}
.timeline {
  margin-top: 20px;
  margin-bottom: 20px;
}
p.caption {
  margin-top: -10px;
  font-size: 14px;
  text-align: right;
  font-style: italic;
  color: #666;
}
.map img {
  margin-top: 15px;
  margin-bottom: 50px;
}
.page-index {
  padding: 0;
  overflow: hidden;
}

.page-capitulo1 .intro {
  background-image: url('../img/cap1_home.jpg');
}
.page-capitulo1 .intro .navbar li {
  width: 20%;
}
.page-capitulo1 section h3 {
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
  color: #999;
}

.page-capitulo2 .intro {
  background-image: url('../img/cap2_home.jpg');
}
.page-capitulo2 .intro h1, .page-capitulo2 .intro h2 {
  color: #fff;
  opacity: 0.8;
  text-shadow: 0 0 4px rgba(0,0,0,0.6);
}
.page-capitulo2 .intro .navbar li {
  width: 20%;
  font-size: 16px;
}
.page-capitulo2 .intro a {
  color: #fff;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
}

.page-capitulo3 h1, .page-capitulo3 h2, .page-capitulo3 h3 {
  color: #fff;
}
.page-capitulo3 .intro {
  background-image: url('../img/cap3_home.jpg');
}
.page-capitulo3 .intro, .page-capitulo3 section {
  box-shadow: 0 0 15px 1px rgba(0,0,0,.7);
  position: relative;
}
.page-capitulo3 .intro nav {
  bottom: 10px;
  font-size: 24px;
}
.page-capitulo3 .intro .navbar li {
  width: 25%;
}
.page-capitulo3 section {
  color: #fff;
  background-size: cover;
  background-attachment: fixed;
  background-position: right center;
  padding-bottom: 30px;
  padding-right: 40px;
  padding-left: 40px;
  font-size: 16px;
  position: relative;
}
.page-capitulo3 #juliard {
  background-image: url('../img/cap3_brasil.jpg');
  z-index: 100;
}
.page-capitulo3 #nancy {
  background-image: url('../img/cap3_guate.jpg');
  z-index: 90;
}
.page-capitulo3 #yeimi {
  background-image: url('../img/cap3_salvador.jpg');
  z-index: 70;
}
.page-capitulo3 #wilmer {
  background-image: url('../img/cap3_honduras.jpg');
  z-index: 80;
}

.page-capitulo4 .intro {
  background-image: url('../img/cap4_back.jpg');
}
.page-capitulo4 .info {
  font-family: "Sanchez", serif;
}
.page-capitulo4 section img {
  border: 1px solid #ddd;
  box-shadow: 0 0 10px 1px rgba(0,0,0,0.5);
  margin-bottom: 20px;
}

.navbar img {
  width: auto;
  height: 22px;
  margin-top: -6px;
}
.dropdown>a {
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  color: #ddd !important;
}
.dropdown-menu>li>a {
  font-size: 20px;
}
.navbar-header img {
  height: 30px;
  margin: 9px 0 0 8px;
  float: left;
}
.chapter-nav {
  font-family: "Sanchez", serif;
  margin-top: 40px;
  background-color: #ccc;
  padding: 20px;
}
.chapter-nav p {
  margin-bottom: 0;
}
.chapter-nav a:hover {
  text-decoration: none;
}
.chapter-nav a .direction-label {
  font-size: 12px;
  line-height: 1;
  margin-bottom: 2px;
  color: #666;
}
.chapter-nav a .title {
  color: #444;
  font-size: 24px;
}
.chapter-nav a:hover .title {
  color: #000;
  text-decoration: underline;
}
.chapter-nav .previous {
  text-align: right;
}
.chapter-nav a .title i {
  font-size: 15px;
}

.culpable-header-wrapper h2 {
  margin-bottom: 0;
  text-align: left;
}
.culpable-header-wrapper {
  margin-bottom: 30px;
  padding: 15px 0;
}

.page-capitulo4 section {
  padding-top: 0;
  padding-bottom: 5vmax;
  border-top: 1px solid #666;
  box-shadow: 0 0 15px 1px rgba(0,0,0,.7);
  background-color: #fff;
}

.page-capitulo4 h2, .page-capitulo4 h3,
.page-capitulo4 h4 {
  text-align: left;
}
