{% extends "_base.html" %}

{% block bodyattrs %}{{ super () }} data-spy="scroll" data-target=".navbar-peekaboo"{% endblock %}

{% block library_css %}
<link href="http://fonts.googleapis.com/css?family=Sanchez:400italic,400&subset=latin,latin-ext" rel="stylesheet" type="text/css">
{{ super() }}
<link rel="stylesheet" type="text/css" href="css/style.css" />
{% endblock %}

{% block library_scripts %}
{{ super() }}
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/fitvids/1.1.0/jquery.fitvids.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/1.4.11/jquery.scrollTo.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-localScroll/1.3.5/jquery.localScroll.min.js"></script>
<script type="text/javascript" src="js/bootstrap-carousel.js"></script>
<script type="text/javascript" src="js/unveil.js"></script>
<script type="text/javascript" src="js/app.js"></script>
{% endblock %}

{% block nav %}{% endblock %}
{% block footer %}{% endblock %}

{# Macros #}
{% macro tab_panel(section, tabs) %}
<div class="tabpanel" role="tabpanel">
  <h3>Versiones</h3>
  <ul class="nav nav-tabs" role="tablist">
    {% for title, id, file in tabs %}
    <li role="presentation"{% if loop.first %} class="active"{% endif %}>
      <a href="#{{ section }}-{{ id }}" data-toggle="tab">{{ title }}</a>
    </li>
    {% endfor %}
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    {% for title, id, file in tabs %}
    <div role="tabpanel" class="tab-pane{% if loop.first %} active{% endif %}" id="{{ section }}-{{ id }}">
      {{read_file(file)|markdown}}
    </div>
    {% endfor %}
  </div>
</div>
{% endmacro %}
