{% extends "_masde72_base.html" %}

{% block content %}
<div class="intro">
  <h2>Capítulo 4</h2>
  <h1>"Los Culpables"</h1>
</div>

{% for persona in culpables %}
<section id="{{ persona.id }}">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        {# info #}
        <h2>{{ persona.nombre }}</h2>
        <p>Alias: "{{ persona.alias }}"</p>
        {% if persona.edad %}<p>Edad: {{ persona.edad }}</p>{% endif %}
        {% if persona.origen %}<p>Origen: {{ persona.origen }}</p>{% endif %}
        {{read_file("_textos/cap4-%s.md" % persona.id)|markdown}}
      </div>
      <div class="col-md-4">
        {# foto #}
        <img src="img/cap4_{{ persona.id }}.jpg" class="img-responsive">
      </div>
    </div>
  </div>
</section>
{% endfor %}
{% endblock content %}
