{% extends "_masde72_base.html" %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jplayer/2.9.2/jplayer/jquery.jplayer.min.js"></script>
<script>
$(document).ready(function() {
  $("#jquery_jplayer_1").jPlayer({
    ready: function () {
      $(this).jPlayer("setMedia", {
        mp3: "http://masde72.periodistasdeapie.org.mx/media/AngelaLacanTPP.mp3",
      });
    },
    cssSelectorAncestor: "#jp_container_1",
    supplied: "mp3",
    useStateClassSkin: true,
    autoBlur: false,
    smoothPlayBar: true,
    keyEnabled: true,
    remainingDuration: true,
    toggleDuration: true
  });
});
</script>

{% endblock %}

{% block content %}

{% set chapter_nav = {
  'previous': {
    'file': 'capitulo2.html',
    'title': '2. Después de la Masacre',
  },
  'next': {
    'file': 'capitulo4.html',
    'title': '4. Los Culpables',
  }
} %}

{% set nav_sections = [
  ('juliard', 'Juliard'),
  ('nancy', 'Familia Pineda'),
  ('wilmer', 'Wilmer'),
  ('yeimi', 'Yeimi'),
] %}

{% include "_fixed_nav.html" %}

<div class="intro">
  <h2>Capítulo 3</h2>
  <h1>Las Víctimas</h1>
  <div class="victimas-intro">
    <p>El sufrimiento para las familias de los 72 migrantes no terminó en San Fernando. La tortura continúa, es sistemática. La justicia, el conocimiento de la verdad y la reparación del daño les han sido negados.</p>
    <p>El gobierno mexicano no ha reconocido su responsabilidad en la matanza. Tampoco por haber entregado cadáveres erróneos a varias familias, mandar a fosa común a personas que eran identificables, demorar tiempos inexplicables para las repatriaciones de los cuerpos identificados o incinerar restos de víctimas sin tomar en cuenta a sus familias.</p>
    <p>A cinco años de la masacre, aún hay 11 cuerpos sin identificar.</p>
    <p>La constante para las familias en este laberinto lleno de puertas falsas ha sido topar siempre con la impunidad. Varios procesos judiciales han sido presentados en contra de las autoridades por negar a las víctimas sus derechos, por no transparentar información, por ignorar a las familias en la recomendación emitida en materia de derechos humanos. Otras están por presentarse.
    <p>Los testimonios de este capítulo muestran que la pesadilla no ha terminado.</p>
  </div>


  <nav class="navbar" role="navigation">
    <ul class="nav navbar-nav">
      {% for id, title in nav_sections %}
      <li><a href="#{{ id }}">{{ title }}</a></li>
      {% endfor %}
    </ul>
  </nav>

</div>

  <nav class="navbar navbar-peekaboo" role="navigation">
    <ul class="nav navbar-nav">
      {% for id, title in nav_sections %}
      <li><a href="#{{ id }}">{{ title }}</a></li>
      {% endfor %}
    </ul>
  </nav>

<section id="juliard">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-md-offset-6">
        <h2>Juliard Aires Fernándes</h2>
        <h3>Brasil</h3>
        {{read_file("_textos/cap3-brasil.md")|markdown}}
        <div class="video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/aXW3xctAwns" frameborder="0" allowfullscreen></iframe>
        </div>
        <p class="audio-credit">Video: Encarnación Pintado e Iván Castaneira.<br/>
        Fotografía: Iván Castaneira</p>
      </div>
    </div>
  </div>
</section>

<section id="nancy">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-md-offset-6">
        <h2>Familia Pineda</h2>
        <h3>Guatemala</h3>
        {{read_file("_textos/cap3-guatemala.md")|markdown}}

        <div id="jquery_jplayer_1" class="jp-jplayer"></div>
        <div id="jp_container_1" class="jp-audio">
            <div class="jp-controls">
                <a class="jp-play"><i class="glyphicon glyphicon-play"></i></a>
                <a class="jp-pause"><i class="glyphicon glyphicon-pause"></i></a>
            </div>
            <div class="jp-progress">
                <div class="jp-seek-bar">
                    <div class="jp-play-bar">
                    </div>
                    <div class="jp-current-time"></div>
                </div>
            </div>
            <div class="jp-no-solution">
                Media Player Error<br>
                Update your browser or Flash plugin
            </div>
        </div>
        <p class="audio-credit">Testimonio de Ángela Lacán durante el Tribunal Permanente de los Pueblos (TPP) en 2013. Audio cortesía de Boca de Polen (Red de Comunicadores).<br/>
        Fotografía: Ricardo Ramírez</p>

      </div>
    </div>
  </div>
</section>

<section id="wilmer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <h2>Wilmer Gerardo Núñez Posadas</h2>
        <h3>Honduras</h3>
        {{read_file("_textos/cap3-honduras.md")|markdown}}
        <div class="video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/wThCAFr629A" frameborder="0" allowfullscreen></iframe>
        </div>
        <p class="audio-credit">Video y fotografía: Ginette Riquelme</p>
      </div>
    </div>
  </div>
</section>

<section id="yeimi">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-md-offset-6">
        <h2>Yeimi Victoria Castro </h2>
        <h3>El Salvador</h3>
        {{read_file("_textos/cap3-salvador.md")|markdown}}
        <div class="video">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/cXfO7-iscGg" frameborder="0" allowfullscreen></iframe>
        </div>
        <p class="audio-credit">Video y fotografía: Mónica González</p>
      </div>
    </div>
  </div>
</section>

{% include "_chapter_nav.html" %}

{% endblock content %}
