{% extends "_base.html" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="css/style.css" />
{% endblock %}




{% block content %}
<div class="container">
  <div class="jumbotron">






    <h2>Capítulo 2</h2>
    <h1>"Después de La Masacre"</h1>


  
  
    <img src="img/cap2_home.jpg" class="img-responsive"/>

        THIS IS THE FINAL IDEA

        <img src="img/cap2_home_dummy.jpg" class="img-responsive"/>

  </div>




  <div class="video">
    <iframe src="//player.vimeo.com/video/114089753" width="500" height="375" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>



<h3>Levantamiento de los cuerpos</h3>

{{read_file("_textos/cap2-intro.md")|markdown}}



<div class="row">
    

    <div class="col-md-6"><p>Base Naval</p>

El 25 de agosto, 49 de los cuerpos se quedaron en la Base Naval. Incluso ahí, bajo el cuidado de las autoridades federales, los cadáveres permanecieron expuestos a la intemperie y apilados, unos sobre otros.





    </div>


    <div class="col-md-6"><p>Funeraria</p>

    El 25 de agosto, enviaron 23 cuerpos a una funeraria en San Fernando; en la funeraria algunos cuerpos quedaron tirados en el piso por falta de espacio para su revisión, y otros en bolsas de plástico en la caja de un tráiler, según el relato de la Comisión Nacional de Derechos Humanos. Como si fueran los restos de algún animal apestoso, al menos 56 cuerpos fueron rociados con cal, lo que provocó destrucción de rasgos. Sus familias tampoco pudieron identificarlos. 





    <img src="img/cap2_funeraria1.jpg" class="img-responsive"/>
    <img src="img/cap2_funeraria2.jpg" class="img-responsive"/>
    <img src="img/cap2_funeraria3.jpg" class="img-responsive"/>
    <img src="img/cap2_funeraria4.jpg" class="img-responsive"/>
    <img src="img/cap2_funeraria5.jpg" class="img-responsive"/>
    Guillermo Arias

    </div>


</div>




<h3>Autopsias</h3>

{{read_file("_textos/cap2-autopsia.md")|markdown}}


AQUI VA UNA IMAGEN DE UNA MORGUE




<h3>Repatriación de Hondureños</h3>



<div class="row">
    

    <div class="col-md-8">

{{read_file("_textos/cap2-honduras.md")|markdown}}





    </div>


    <div class="col-md-4">




    <img src="img/cap2_honduras1.jpg" class="img-responsive"/>
    <img src="img/cap2_honduras2.jpg" class="img-responsive"/>
    <img src="img/cap2_honduras3.jpg" class="img-responsive"/>
    <img src="img/cap2_honduras4.jpg" class="img-responsive"/>
    

    </div>


</div>



<h3>Translado terrestre a la Ciudad de México</h3>



<div class="row">
    

    <div class="col-md-8">
{{read_file("_textos/cap2-df.md")|markdown}}
    </div>


    <div class="col-md-4">
    <img src="img/cap2_trailerdf.jpg" class="img-responsive"/>
    AP/Eduardo Verdugo
    </div>


</div>




<h3>Nuevas Repatriaciones</h3>

<h4>2010</h4>





<div class="row">
    

    <div class="col-md-2.4"><p>El Salvador</p>

  El 5 de septiembre de 2010, 11 cadáveres salieron hacia El Salvador. Se trata de los cuerpos de: José Ángel Flores Bolaños, José Gilberto Flores García, Armando Pérez Nieto, Sabás Napoleón López Sánchez, José Francisco García Hernández, Adolfo Armando Fraile Vega, Henri Francisco Serrano Cuéllar, Pedro Antonio Franco Peña, María Magdalena Alonso Rivera, Karen Yanneth Escobar Luna y Glenda Yaneira Medrano Solórzano.
  Mirna del Carmen Solórzano Medrano, madre de Glenda Yaneira, está segura que no enterró a su hija. Ella desobedeció las indicaciones del  gobierno de su país y abrió el féretro que según contenía el cadáver de su hija: encontró un cuerpo lastimado, calcificado, que ella recuerda como “una momia blanca, sin pelo” y cuando le palparon los genitales, sintieron “un bulto”; sin embargo, pese a las dudas, procedió el ritual funerario por miedo a “haber desobedecido” a sus autoridades.


    </div>


    <div class="col-md-2.4">
    <img src="img/cap2_trailerdf.jpg" class="img-responsive"/>
    AP/Eduardo Verdugo
    </div>

    
</div>













  <div class="row">
    

    <div class="col-md-4"><p>Version Embajada EUA</p>
  <img src="img/prueba.png" class="img-responsive"/>
    </div>


    <div class="col-md-4">{{texto}}</div>
    <div class="col-md-4">COlumna 3</div>
  </div>











</div>








{% endblock content %}














{% block scripts %}
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/fitvids/1.1.0/jquery.fitvids.min.js"></script>
<script>
$(document).ready(function() {
  $('.video').fitVids();
});
</script>
{% endblock %}
