{% extends "_masde72_base.html" %}

{% block content %}

{% set chapter_nav = {
  'previous': {
    'file': 'capitulo4.html',
    'title': '4. Los Culpables',
  },
  'next': {
    'file': 'creditos.html',
    'title': '6. Transparencia',
  }
} %}


{% set nav_sections = [] %}
{% include "_fixed_nav.html" %}

<div class="intro">
  <h2>Capítulo 5</h2>
  <h1>Sobre San Fernando</h1>
</div>

<div class="container">
  <section id="contexto">
    <P>San Fernando, Tamaulipas, es el municipio más grande del país, con una superficie superior a Colima, Aguascalientes y el Distrito Federal.</p>
    <p>Y es, también, el asiento de parte de mayores reservas de hidrocarburos de México. En su territorio se asienta parte de la Cuenca de Burgos, donde se concentran algunos de los yacimientos de gas de lutitas (también conocido como gas shale) más grandes del mundo.</p>
    <p>El municipio, además, es la puerta de entrada a algunas de las rutas principales de tráfico de drogas, armas y dinero.</p>
    <p>Las carreteras que cruzan la zona, las pistas aéreas y los pueblos pesqueros en la costa son un preciado botín que desde 2005 disputan tres carteles:</p>
    <p>El de Sinaloa, que pretende apoderarse del territorio; Los Zetas lo conquistaron violentamente y El Golfo, que pretende recuperar sus antiguos dominios.</p>
    <p>Una guerra que ha dejado miles de muertos que poco se conocen. San Fernando, aseguran pobladores y militares que pretenden custodiarlo, está plagado de masacres y fosas clandestinas. Más de las que hasta ahora se conocen.</p>

    <h4>Línea del tiempo de migrantes rescatados desde el 2007 a la fecha</h4>
    <p>El secuestro y asesinato de 72 migrantes en San Fernando, no se tradujo en acciones gubernamentales para prevenir futuros crímenes. Al año siguiente, en el mismo municipio fueron encontradas varias fosas con 196 cuerpos, la mayoría de migrantes asesinados. En 2012 en la frontera entre Tamaulipas y Nuevo León, 49 torsos de personas, entre ellos varios migrantes ya identificados, fueron arrojados a la carretera como un nuevo mensaje de control de territorios.</p>
    <p>Es eso lo que ha permanecido ahí: el control de la zona por parte de grupos criminales que secuestran, quizá para obtener recursos, pero también para enviar un mensaje: nadie hace nada que ellos no autoricen.</p>
    <p>La evidencia es la permanencia de secuestros. Sólo en Tamaulipas entre el año 2007 y 2014 la Policía Federal rescató a 2 mil 861, mientras que las fuerzas armadas de la Marina y el Ejército liberaron a mil 169. No se sabe si realmente estaban secuestrados o si estaban en alguna casa de seguridad esperando el momento para cruzar a Estados Unidos. Las autoridades no han transparentado el proceso que continúa al rescate de estas personas.</p>
 

    <iframe src="http://timemapper.okfnlabs.org/periodistasapie/msde72?embed=1" frameborder="0" style="border: none;" width="100%" height="780;"></iframe>
  </section>
</div>

{% include "_chapter_nav.html" %}

{% endblock content %}