{% extends "_masde72_base.html" %}

{% block content %}

{% set chapter_nav = {
  'previous': {
    'file': 'capitulo4.html',
    'title': '4. "Los Culpables"',
  },
  'next': {
    'file': 'creditos.html',
    'title': '6. "Créditos"',
  }
} %}


{% set nav_sections = [] %}
{% include "_fixed_nav.html" %}

<div class="intro">
  <h2>Capítulo 5</h2>
  <h1>"Transparencia"</h1>
    <iframe width="1200px" height="5000px" scrolling="yes" frameborder="no" src="
      https://www.google.com/fusiontables/embedviz?viz=GVIZ&amp;t=TABLE&amp;q=select+col0%2C+col1%2C+col2%2C+col3%2C+col4%2C+col9%2C+col5%2C+col8%2C+col10%2C+col6%2C+col7+from+1BkylAq_yL_8Tv_1PMvJt3EoPBq_wkQxTWaGTREQP+order+by+col2+asc&amp;containerId=googft-gviz-canvas
    "></iframe>

</div>

{% include "_chapter_nav.html" %}

{% endblock content %}



