{% extends "_base.html" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="css/style.css" />
{% endblock %}

{% block content %}
<div class="container">
  <div class="jumbotron">

    <h1>Capítulo 4</h1>
    <h2>"Los Culpables"</h2>

        


    


<h2>Salvador Alfonso Martínez Escobedo</h2>
        <div class="row">
    <div class="col-md-6">
          
          <p>Alias: "La ardilla"</p>
          <p>Edad: Actualmente 33 años</p>
          <p>Origen: Nuevo Laredo, Tamaulipas</p>

    </div>
    <div class="col-md-6"><img src="img/cap4_ardilla.jpg"></div>
    
  </div>

      {{read_file("_textos/cap4-ardilla.md")|markdown}}





<h2>Édgar Huerta Montiel</h2>


  <div class="row">
    <div class="col-md-6">
          
          <p>Alias: "El Wache o Wacho"</p>
          <p>Edad: Actualmente 25 años</p>
          <p>Origen: La Huacana, Michoacán</p>

    </div>
    <div class="col-md-6"><img src="img/cap4_wacho.jpg"></div>
    
  </div>

      {{read_file("_textos/cap4-wacho.md")|markdown}}





<h2>Martín Omar Estrada de la Mora</h2>


  <div class="row">
    <div class="col-md-6">
          
          <p>Alias: "El Kilo"</p>
          <p>Edad: </p>
          <p>Origen: </p>

    </div>
    <div class="col-md-6"><img src="img/cap4_kilo.jpg"></div>
    
  </div>

      {{read_file("_textos/cap4-kilo.md")|markdown}}



      <h2>Saraí Fabiola Díaz Arroyo</h2>


  <div class="row">
    <div class="col-md-6">
          
          <p>Alias: "La Fila o la Muñeca"</p>
          <p>Edad: </p>
          <p>Origen: Ciudad Victoria, Tamaulipas</p>

    </div>
    <div class="col-md-6"><img src="img/cap4_muneca.jpg"></div>
    
  </div>

      {{read_file("_textos/cap4-muñeca.md")|markdown}}


        
<h2>Abraham Barrios Caporal</h2>


  <div class="row">
    <div class="col-md-6">
          
          <p>Alias: "El Erasmo"</p>
          <p>Edad: </p>
          <p>Origen: </p>

    </div>
    <div class="col-md-6"><img src="img/cap4_erasmo.jpg"></div>
    
  </div>

      {{read_file("_textos/cap4-erasmo.md")|markdown}}

  




{% endblock content %}

{% block scripts %}
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/fitvids/1.1.0/jquery.fitvids.min.js"></script>
<script>
$(document).ready(function() {
  $('.video').fitVids();
});
</script>
{% endblock %}
