{% extends "_masde72_base.html" %}

{% block content %}

{% set chapter_nav = {
  'previous': {
    'file': 'capitulo5.html',
    'title': '5. Sobre San Fernando',
  },
  'next': {
    'file': 'creditos.html',
    'title': '7. Créditos',
  }
} %}


{% set nav_sections = [] %}
{% include "_fixed_nav.html" %}

    <div class="intro">
      <h2>Capítulo 6</h2>
      <h1>Transparencia</h1>
          <div class="container">
            <p>La opacidad del gobierno, aunado a la contradicción de las versiones sobre lo ocurrido, ha sido una constante. Y el acceso a los documentos públicos del gobierno federal y órganos desconcentrados no ha sido sencillo. Pero el trabajo de periodistas e investigadores ha logrado que gradualmente se obtengan diversos documentos por la vía de la transparencia y la desclasificación. Documentos con datos y pistas sobre la transformación del riesgo en la región, las crecientes amenazas hacia los migrantes y la inacción gubernamental.</p>
            <p>En esta sección ponemos a disposición de los lectores la lista de documentos que hemos solicitado al gobierno mexicano vía acceso a la información pública. Además, abrimos acceso directo a los documentos que se han obtenido, a cables desclasificados del gobierno de Estados Unidos por la organización National Security Archive, así como a los cables que Wikileaks hizo públicos.</p>
            <p>Esta lista estará en constante actualización en la medida en que se obtengan nuevos documentos.</p>
          </div>
    </div>     

    <div class="container">
        <iframe width="100%" height="5000px" scrolling="yes" frameborder="yes" src="https://www.google.com/fusiontables/embedviz?viz=GVIZ&amp;t=TABLE&amp;q=select+col0%2C+col1%2C+col2%2C+col3%2C+col4%2C+col5%2C+col10+from+1BkylAq_yL_8Tv_1PMvJt3EoPBq_wkQxTWaGTREQP+order+by+col2+asc&amp;containerId=googft-gviz-canvas"></iframe>
    </div>


{% include "_chapter_nav.html" %}

{% endblock content %}



