{% extends "_masde72_base.html" %}

{% block content %}

{% set chapter_nav = {
  'previous': {
    'file': 'capitulo5.html',
    'title': '5. Sobre San Fernando',
  },
  'next': {
    'file': 'creditos.html',
    'title': '7. Créditos',
  }
} %}


{% set nav_sections = [] %}
{% include "_fixed_nav.html" %}

<div class="intro">
  <h2>Capítulo 6</h2>
  <h1>Transparencia</h1>
  <div class="container">
    <p>El acceso a los documentos oficiales sobre la masacre de San Fernando realizados por el gobierno federal y el de Tamaulipas, así como los órganos desconcentrados, ha sido un camino lleno de obstáculos, a pesar de que debiera ser información pública porque involucra violaciones graves a los derechos humanos.</p>
    <p>Las organizaciones Artículo 19 y la Fundación para la Justicia y el Estado Democrático de Derecho, a  través de solicitudes de información pública, han pedido acceso a las indagatorias judiciales sobre la masacre de San Fernando, a lo que las dependencias de gobierno aludidas respondieron que la información estaba clasificada como reservada. El Instituto Federal de Acceso a la Información (IFAI) confirmó le negativa. Esto a pesar de que la ley dictamina que ninguna reserva podrá ser invocada cuando se trate de investigaciones que versen sobre delitos de lesa humanidad.</p>
    <p>El ocultamiento de la información motivó amparos de ambas organizaciones que serán resueltos por la Suprema Corte de Justicia de la Nación, la cual deberá decidir si la sociedad tiene derecho a conocer la verdad sobre lo ocurrido en agosto de 2010 en San Fernando.</p>
    <p>En esta sección exhibimos los documentos oficiales que los integrantes de esta investigación y periodistas aliados hemos conseguido sobre este caso, mediante el uso de las leyes de transparencia, así como cables diplomáticos del gobierno de Estados Unidos obtenidos por el National Security Archive o Wikileaks.</p>
    <p>Conocer la verdad es uno de los requisitos para que hechos como este no vuelvan a repetirse.</p>

    <hr/>

    <div class="row download-buttons">
      <div class="col-xs-4">
        <a href="data/migrantes-solicitudes-de-informacion.csv" class="btn btn-default btn-lg">Descargar lista de solicitudes via INFOMEX</a>
      </div>
      <div class="col-xs-4">
        <a href="data/archive_72.csv" class="btn btn-default btn-lg">Descargar lista de cables desclasificados por el National Security Archive</a>
      </div>
      <div class="col-xs-4">
        <a href="data/wklks_72.csv" class="btn btn-default btn-lg">Descargar lista de cables publicados por WikiLeaks</a>
      </div>
    </div>
  </div>
</div>

{% include "_chapter_nav.html" %}

{% endblock content %}



