{% extends "_masde72_base.html" %}

{% block content %}

{% set chapter_nav = {
  'next': {
    'file': 'capitulo2.html',
    'title': '2. Después de la Masacre',
  },
} %}

{% set nav_sections = [
  ('la-matanza', 'La Matanza'),
  ('los-sobrevivientes', 'Los Sobrevivientes'),
  ('el-hallazgo', 'El Hallazgo'),
  ('la-hipotesis', 'Las Hipótesis'),
] %}

{% include "_fixed_nav.html" %}

<div class="intro">
  <h2>Capítulo 1</h2>
  <h1>La Masacre</h1>

  <nav class="navbar" role="navigation">
    <ul class="nav navbar-nav">
      {% for id, title in nav_sections %}
      <li><a href="#{{ id }}">{{ title }}</a></li>
      {% endfor %}
    </ul>
  </nav>
</div>


<div class="container">

    

  <section id="la-matanza">
    <h2>La Matanza</h2>
    <p class="sub-title"></p>   
        <p>El 24 de agosto de 2010, la Secretaría de Marina informó del hallazgo de 72 cadáveres en un rancho-bodega abandonado en el municipio de San Fernando, en Tamaulipas asesinados por el grupo criminal Los Zetas. Eran 58 hombres y 14 mujeres, todos migrantes que perseguían sus sueños cruzando México hacia Estados Unidos. Tenían las manos amarradas y un tiro de gracia.</p> 
        <p>Fueron abandonados por el estado que no los protegió en su camino.</p>
        <p>Fueron asesinados por criminales en complicidad con policías.</p>
        <p>Fueron borrados por el Estado al que no le interesó identificarlos y devolverlos a sus familias.</p>
        <p>El contraste de diversas fuentes de información compiladas aquí  (oficiales de México y el extranjero, investigaciones periodísticas y de expertos, estudios académicos e informes de organizaciones sociales) exhiben y cuestionan la versión oficial de los hechos. Hay contradicciones en las fechas del secuestro y del asesinato por parte de Los Zetas, así como los motivos de la masacre. Se pone en duda si los marinos descubrieron los cuerpos, si la Secretaría de Marina alteró los hechos en su comunicado, si los migrantes fueron asesinados porque se negaron a ser reclutados, si los sobrevivientes fueron más de tres, si están en la cárcel todos los culpables y si las familias recibieron los cuerpos correctos de sus muertos.</p>
        <p>El gobierno no ha transparentado la investigación.</p>
        <p>Para entender la masacre de 72 migrantes en San Fernando, es necesario recordar qué es este lugar: es el municipio más grande del país, ubicado en la frontera con Estados Unidos y el Golfo de México, zona estratégica para el tráfico ilegal; además, en sus entrañas guarda una de las mayores reservas de hidrocarburos de la nación.</p>
          
          <p>La información que soporta a esta investigación se obtuvo de distintas fuentes, además de la oficial del gobierno mexicano:</p>
              <dl>
                <dt>Versión Oficial</dt>
                <dd>Información emitida por las autoridades mexicanas: Procuraduría General de la República (PGR) , Secretaría de Marina (SEMAR) , Secretaría de la Defensa Nacional (SEDENA), Secretaría de Relaciones Exteriores (SRE), Instituto Nacional de Migración (INM)  y Procuraduría General de Justicia de Tamaulipas.</dd> 
                <dt>Embajada de EUA</dt>
                <dd>Cables diplomáticos recibidos por el Departamento de Estado de EUA y obtenidos por la organización National Security Archive (NSA).</dd>
                <dt>Tesis especializada</dt>
                <dd>Tesis de licenciatura con título "Los 72 migrantes que avergonzaron a México. Ni muertos los pudieron cuidar" de Concepción Peralta FES Aragón (2013).</dd>
                <dt>Comisión Nacional de Derechos Humanos (CNDH)</dt>
                <dd>CNDH - RECOMENDACIÓN No. 80/2013. "Caso de privación de la de la vida de 72 personas migrantes y atentados a la vida de los extranjeros V73 y V74, en el municipio de San Fernando, Tamaulipas”. Diciembre del 2013.</dd>
                <dt>El Faro</dt>
                <dd>Periódico digital independiente de El Salvador.</dd>
                <dt>Moore</dt>
                <dd>Gary Moore es un periodista norteamericano independiente, especializado en investigar graves violaciones a los derechos humanos.</dd>
                <dt>Insight Crime</dt>
                <dd>Es una organización de periodismo e investigación especializado en crimen organizado en América Latina.</dd>
              </dl>
                        
        {{ tab_panel('la-matanza', la_matanza_versions) }}


  </section>

  <section id="los-sobrevivientes">
    <h2>Los Sobrevivientes</h2>
    <p class="sub-title"></p>

    <div class="row">
      <div class="col-md-8">
        <p> Desde el hallazgo de los cadáveres, las autoridades han manejado que existieron dos sobrevivientes de la masacre. Uno de ellos, Luis Freddy Lala Pomavilla, el ecuatoriano; el otro, a quien nunca identificaron, un varón hondureño.</p>
        <p> Lala Pomavilla, el ecuatoriano, vive en su país natal. No volvió a aportar información diferente sobre los hechos. El hondureño, al momento de ser repatriado a su país, escapó del refugio y volvió a la ruta migratoria.</p>
        <p> Pasó desapercibida la noticia, dada por el gobierno ecuatoriano, de que fueron tres los sobrevivientes. El tercero, salvadoreño, es testigo protegido en Estados Unidos y vive bajo una identidad distinta. Nunca se ha conocido su testimonio.</p>
        <p> ¿Alguno de ellos es el migrante que fue forzado a ser sicario? ¿Existe confusión y se suma en la lista a quienes viajaban en el convoy, pero no fueron llevados con el grupo en el que iban los 72?</p>
        <p> No se ha establecido el número y la identidad de las personas que viajaban en el convoy y a las que Los Zetas liberaron al momento de la captura: sólo se mencionan dos choferes de autobuses y una mujer con una niña, todos mexicanos. Sobre ellos, hasta el momento, no se tienen pistas.</p>
      </div>
      <div class="col-md-4 map">
        <img src="img/home_logo.png" data-src="img/cap1_sobreviviente.jpg" class="img-responsive">
      </div>
       
        <p>{{ tab_panel('los-sobrevivientes', los_sobrevivientes_versions) }}</p>
  
   
    <h4>LA RUTA DEL SOBREVIVIENTE ECUATORIANO</h4>


    
          <p> El siguiente mapa traza el recorrido que el joven ecuatoriano sobreviviente, Fredy Lala Pomavilla, realizó herido desde que escapó del rancho donde ocurrió la masacre y su paso por el retén de la Marina --a 19 kilómetros de distancia-- donde informó sobre la masacre, su traslado al Sanatorio Naval Militar --que durante su internamiento fue atacado-- y su posterior traslado al Hospital General Alfredo Pumarejo.</p>
          <p> Las coordenadas exactas fueron tomadas de la investigación hecha por el periodista norteamericano especializado en incidentes humanitarios internacionales, Gary Moore, luego retomadas por la fundación de investigación sobre crimen organizado en Latinoamérica,  Insight Crime.</p>
          <p>Dimensionar el recorrido de este sobreviviente es importante porque la versión oficial sobre lo ocurrido se basa completamente en su testimonio. Sin embargo, al analizar las distancias recorridas y los tiempos en los que supuestamente se desarrolla su huida surgen dudas que han quedado irresueltas.</p>
          <p> Algunos medios difieren o muestran una ubicación distinta del rancho El Huizache, sin embargo, sin embargo, según nuestra investigación, la más acertada ha sido la expuesta por Moore, quién visitó el lugar de los hechos y mostró evidencia documental.</p>
       

      
          <div class="iframe-container">
            <iframe src="https://www.google.com/maps/d/embed?mid=zo3mbCZczVGM.kdIPOxZvPc1U" width="640" height="480"></iframe>
          </div>
     

        


    
  </section>

  <section id="el-hallazgo">
    <h2>El Hallazgo</h2>
    <p class="sub-title"></p>

        <p> El 24 de agosto la Marina informó que a un retén carretero cerca de San Fernando, Tamaulipas, llegó un hombre herido a pedir auxilio por un ataque en un rancho cercano, lo que les permitió descubrir la masacre de 72 migrantes.</p>
        <p> Sin embargo, según investigaciones independientes, la policía municipal fue la primera en llegar al rancho El Huizache, la escena del crimen. Incluso los reporteros que cubren la zona tuvieron conocimiento de este hecho desde el 23 en la mañana y habían acudido al rancho a tomar fotografías, antes de la llegada de las autoridades federales.</p>
        <p> En la información oficial no queda claro quién fue la autoridad que tuvo primer conocimiento sobre el crimen, ni cómo fue el hallazgo y quiénes participaron en este. También se plantean dudas sobre el tiempo en que los marinos tardaron en reaccionar al relato del sobreviviente ecuatoriano. No se ha informado tampoco cómo se preservó el lugar. Tampoco hay datos sobre la comunicación entre autoridades y cuál fue la cadena de mandos. Incluso, si fueron las autoridades locales llegaron primero al rancho, se desconoce si alteraron la escena del crimen.</p>
        <p> Las autoridades federales han sido omisas en informar la cantidad de elementos de fuerzas de seguridad desplegados en la zona –policías federales, ejército, marina- antes  y después de la masacre, información que permitiría deslindar responsabilidades sobre la complicidad o inacción que permitió el crimen.</p>
        <p> En su boletín del 24 de agosto, la Secretaría de la Marina informó que al seguir las indicaciones del sobreviviente, al momento de acudir al sitio de la masacre, tuvo un enfrentamiento con un grupo de criminales donde 4 personas murieron -3 agresores y un marino- y una persona menor de edad fue detenida, además de que se incautaron armas, chalecos y uniformes militares. Pero, al ser cuestionada, admitió después que el enfrentamiento no estaba relacionado con la masacre y que únicamente sumó los dos hechos en el mismo comunicado.</p>
        

        {{ tab_panel('el-hallazgo', el_hallazgo_versions) }}

  </section>


  <section id="la-hipotesis">
    <h2>Las Hipótesis</h2>
    <p class="sub-title"></p>

        <p> El horror de la masacre de 72 migrantes encendió las alertas sobre la escalada a un nivel mayor de brutalidad en México. ¿Por qué un grupo criminal secuestró a más de 70 migrantes indocumentados y en esa ocasión no pidió rescate, sino que los asesinó a sangre fría?</p>
        <p> La primera versión que se conoció fue la que dio el sobreviviente ecuatoriano, Luis Freddy Lala Pomavilla, quien dijo que los criminales les preguntaron si querían trabajar para el grupo delictivo; como se negaron, entonces los mataron. Esa versión, la masacre por negarse a un reclutamiento forzado, fue tomada como la causa cierta por parte del gobierno federal (reproducida por la CNDH) que a la fecha no ha investigado otros motivos, pese a las dudas planteadas por investigaciones independientes y a que las masacres continuaron en años posteriores en la misma región.</p>
        <p> Pistas hay varias. Por ejemplo, el mismo sobreviviente también relató que uno de los secuestrados dijo que sí se incorporaría al grupo criminal, pero, al parecer, fue asesinado, aunque podría ser uno de los sobrevivientes cuyas declaraciones siguen en secreto.</p>
        <p> Uno de los cables de la embajada estadounidense plantea dudas sobre la versión oficial pues refiere que el sueldo que habrían ofrecido a los migrantes era “excesivamente generoso” como para negarse, más ante el riesgo inminente de ser asesinados.  Y arrojan varias luces: extrañamente no se pidió rescate por lo que la motivación de Los Zetas pudo ser estropear el negocio del Cártel del Golfo por el cruce ilegal de migrantes a Estados Unidos.</p>
        <p> Esta combinación de territorio más ganancias la planteó también El Faro, periódico digital de El Salvador: el interés de los Zetas de controlar el territorio y castigar a quien no pague la cuota.</p>
        <p> Insight Crime abundó sobre el comportamiento anormal de los criminales. ¿Por qué el gobierno mexicano no indagó las otras pistas vertidas por las investigaciones independientes? ¿Por qué no se dio a conocer la versión del segundo y el tercer sobreviviente? ¿Quiso el gobierno apresurarse a cerrar este caso a pesar de la gravedad de los delitos? ¿Por qué? ¿A quién convenía?</p>

        {{ tab_panel('la-hipotesis', la_hipotesis_versions) }}

  </section>


</div>




{% include '_chapter_nav.html' %}

{% endblock content %}
