{% extends "_masde72_base.html" %}

{% block content %}

{% set chapter_nav = {
  'previous': {
    'file': 'capitulo1.html',
    'title': '1. "La Masacre"',
  },
  'next': {
    'file': 'capitulo3.html',
    'title': '3. "Las Victimas"',
  }
} %}

{% set nav_sections = [
  ('levantamiento', 'Los Cuerpos'),
  ('autopsias', 'Autopsias'),
  ('repatriacion-honduras', 'Repatriaciones'),
  ('translado', 'Translado a la Cd. de México'),
  ('repatriaciones', 'Nuevas Repatriaciones'),
] %}

{% include "_fixed_nav.html" %}

<div class="intro">
  <h2>Capítulo 2</h2>
  <h1>"Después de La Masacre"</h1>

  <nav class="navbar" role="navigation">
    <ul class="nav navbar-nav">
      {% for id, title in nav_sections %}
      <li><a href="#{{ id }}">{{ title }}</a></li>
      {% endfor %}
    </ul>
  </nav>
</div>


<section id="levantamiento">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="video">
          <h2>Operativo de la Marina</h2>
          <iframe src="//player.vimeo.com/video/114089753" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
      </div>
    </div>
    <h2>Levantamiento de los cuerpos</h2>
    {{read_file("_textos/cap2-intro.md")|markdown}}
    <div class="row">
      <div class="col-md-8">
        <h3>Funeraria</h3>

        <p>El 25 de agosto, enviaron 23 cuerpos a una funeraria en San Fernando; en la funeraria algunos cuerpos quedaron tirados en el piso por falta de espacio para su revisión, y otros en bolsas de plástico en la caja de un tráiler, según el relato de la Comisión Nacional de Derechos Humanos. Como si fueran los restos de algún animal apestoso, al menos 56 cuerpos fueron rociados con cal, lo que provocó destrucción de rasgos. Sus familias tampoco pudieron identificarlos.</p>

        <div class="row photos">
          <div class="col-md-6">
            <img src="img/home_logo.png" data-src="img/cap2_funeraria1.jpg" class="img-responsive"/>
          </div>
          <div class="col-md-3">
            <img src="img/home_logo.png" data-src="img/cap2_funeraria2.jpg" class="img-responsive"/>
            <img src="img/home_logo.png" data-src="img/cap2_funeraria3.jpg" class="img-responsive"/>
          </div>
          <div class="col-md-3">
            <img src="img/home_logo.png" data-src="img/cap2_funeraria4.jpg" class="img-responsive"/>
            <img src="img/home_logo.png" data-src="img/cap2_funeraria5.jpg" class="img-responsive"/>
            <p class="caption">Guillermo Arias</p>
          </div>
        </div>

      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h3>Base Naval</h3>
        <p>El 25 de agosto, 49 de los cuerpos se quedaron en la Base Naval. Incluso ahí, bajo el cuidado de las autoridades federales, los cadáveres permanecieron expuestos a la intemperie y apilados, unos sobre otros.</p>
      </div>
      <div class="col-md-4 photos">
        <img src="img/home_logo.png" data-src="img/cap2_naval.jpg" class="img-responsive"/>
      </div>
    </div>

    <div class="row">
        <iframe src="https://www.google.com/maps/d/embed?mid=zMOLUTr0q7Co.klwVu6QJRlJQ" width="640" height="480"></iframe>
    </div>

  </div>
</section>

<section id="autopsias">
  <div class="container">
    <h2>Autopsias</h2>
      <h4>Fallas denunciadas por la CNDH</h4>
        <img src="img/home_logo.png" data-src="img/cap_2_autopsias.png" class="img-responsive">
  </div>
</section>

<div style="border-left: 10px solid #000000;">
<div style="border-left: 10px solid #4bb69d;">
<div style="border-left: 10px solid #65b22e;">
<div style="border-left: 10px solid #eb671c;">
<div style="border-left: 10px solid #a54994;">
<div style="border-left: 10px solid #4bb69d;">
<div style="border-left: 10px solid #0b7834;">
<div style="border-left: 10px solid #28306c;">
<div style="border-left: 10px solid #edbd22;">
<div style="border-left: 10px solid #000000;">
<div style="border-left: 10px solid #02715b;">

<section id="repatriacion-honduras">
  <div class="container">
    <h2>Movimientos de los Cuerpos</h2>
    <h2>2010</h2>
    <h3>Honduras</h3>
    <div class="row">
      <div class="col-md-8">
        <h4>1 de Septiembre 2010</h4>
          <p> Después de las autopsias, personal ministerial de la Procuraduría
              General de Justicia de Tamaulipas entregó a las autoridades consulares
              de Honduras los cuerpos de 16 migrantes que, aseguraban, correspondían
              a ciudadanos de ese país, aunque no se sabe cómo fueron identificados
              ya que una semana es poco tiempo para obtener resultados de pruebas de ADN.
              Aunque algunos migrantes llevaban alguna identificación en la ropa no se
              dejó asentada qué pertenencias correspondían a cuál cadaver.
              Las consecuencias pronto se dejaron ver.
          </p>
        <img src="img/home_logo.png" data-src="img/mapas-01.png" class="img-responsive">
      </div>
      <div class="col-md-3 map">
        <p> -Julian Sánchez Benítez
            -Milton Mateo Alvarado Villanueva
            -Sabás Ramón Oliva Romero
            -Carlos Alberto Valle Lazo
            -Jorge Alberto Salgado Bustillo
            -Víctor Manuel Escobar Pineda
            -Pedro Antonio Rubio García
            -Miguel Ángel Cárcamo Ávila
            -Cantalicio Barahona Vargas
            -Brian Ariel García Ferrera
            -Julian Adolfo Chirinos Padilla
            -Junior Basilio Espinoza Valerio
            -Jorge Alberto Osorto Sevilla
            -William Giovany Cortez Benites
            -Misael Castro Bardales, viajó sin papeles confundido por Carlos Alejandro Espinoza.
            -Bismal Junior Faustino da Silva (Ciudadano  brasileño confundido con el hondureño Eredis Ayala Muñoz)
        </p>
      </div>
    </div>
      <p> Pero no todos hicieron caso: de los 16 cuerpos que llevados a Honduras,
          sólo 12 fueron aceptados por sus parientes y trasladados a sus lugares
          de origen, los cuatro cuerpos restantes fueron rechazados porque los familiares
          no reconocieron a las personas que llevaban.  El Servicio Forense de Honduras
          tuvo que albergar a los desconocidos. Tres de esos cuerpos enviados por
          la procuraduría de Tamaulipas habían llegado al lugar equivocado.
      </p>
    <div class="row photos">
      <div class="col-md-6">
        <img src="img/home_logo.png" data-src="img/cap2_honduras1.jpg" class="img-responsive"/>
      </div>
      <div class="col-md-6">
        <img src="img/home_logo.png" data-src="img/cap2_honduras2.jpg" class="img-responsive"/>
      </div>
    </div>
      <p> El 15 de septiembre, tras dos semanas de análisis, el canciller de Honduras
          entregó los cadáveres de Jorge Alberto Osorio Sevilla, de 30 años, y de William
          Giovani Cortez Benitez, de 22, a sus respectivas familias.
      </p>
    <div class="row photos">
      <div class="col-md-6">
        <img src="img/home_logo.png" data-src="img/cap2_honduras3.jpg" class="img-responsive"/>
      </div>
      <div class="col-md-6">
        <img src="img/home_logo.png" data-src="img/cap2_honduras4.jpg" class="img-responsive"/>
      </div>
    </div>
      <p> El otro cuerpo enviado por error a Tegucigalpa correspondía
          a un ciudadano brasileño Edilsimar Junior Faustino da Silva,
          quien fue repatriado con el nombre del hondureño Eredis Ayala Muñoz,
          mientras los familiares de Edilsimar recibían en Brasil un ataúd sellado
          y la orden de no abrirlo, pero al desobedecer a las autoridades,
          no encontraron un cuerpo sino una bolsa llena de arcilla.
          Además del error, las autoridades mexicanas querían cobrar
          a la familia de Edilsimar 180 mil pesos por el costo del traslado.
          El cuerpo del brasileño Edilsimar permaneció en Tegucigalpa,
          hasta donde tuvieron que llegar peritos de Brasil, quienes
          lo identificaron plenamente. Edilsimar fue repatriado nuevamente,
          ahora de Honduras a Brasil en noviembre, tres meses después de la masacre.
      </p>
    <div class="row">
      <div class="col-md-8">
        <img src="img/home_logo.png" data-src="img/mapas-02.png" class="img-responsive">
      </div>
    </div>
</section>

</div>

<section id="translado" style="border-top:40px solid #02715b;">
  <div class="container">
    <h2>Translado Terrestre a la Ciudad de México</h2>
    <div class="row">
      <div class="col-md-8">
        <h4>31 de agosto de 2010</h4>
        <img src="img/home_logo.png" data-src="img/mapas-03.png" class="img-responsive"/>
      </div>
      <div class="col-md-4">
        <p> Los 56 cuerpos que el gobierno de Tamaulipas no pudo identificar,
            ya bajo custodia tardía de la PGR, fueron trasladados en un tráiler
            a la Ciudad de México la noche del 31 de agosto al 1 de septiembre.
        </p>
      </div>
    </div>
      <p>El vehículo contratado para el transporte desde Reynosa no reunía las condiciones necesarias para llevar cadáveres</p>
        <img src="img/img/mapas-04.png" class="img-responsive"/>
      <p>Tanto deterioro de los cuerpos, además de violentar la dignidad de las víctimas, provocó de nueva cuenta pérdida de evidencia forense que hubiera facilitado la identificación de las víctimas. </p>
      <p>Los cadáveres permanecieron de nueva cuenta apilados a la intemperie, mientras eran llevados del tráiler a la funeraria particular, La Piedad, en la colonia Doctores, contratada por XXXX para el servicio de embalsamamiento. X horas después los cuerpos fueron ingresados al Servicio Médico Forense del Distrito Federal. Desde ese momento hasta la actualidad han sido repatriados, en distintas fases, 44 cuerpos.</p>
      <img src="img/cap2_trailerdf.jpg" class="img-responsive"/>
      <p class="caption">AP/Eduardo Verdugo</p>
      <p>El chofer, un joven inexperto y desconocedor del DF, justo antes de llegar a las instalaciones del Servicio Médico Forense del Tribunal Superior de Justicia del Distrito Federal, rozó con la caja del tráiler un automóvil estacionado que, a su vez lanzó a otro automóvil contra la banqueta, repleta de peatones. En el accidente una transeúnte perdió una pierna y evidenció las condiciones en las que los cuerpos de los migrantes asesinados habían sido trasladados.</p>
  </div>
</section>

</div>

<section id="repatriaciones" style="border-top:40px solid #000;">
  <div class="container">
    <h2>Nuevas Repatriaciones</h2>
    <h2>El Salvador</h2>

    <div class="row">
      <div class="col-md-8">
        <h4>5 de septiembre de 2010</h4>
        <img src="img/home_logo.png" data-src="img/mapas-05.png" class="img-responsive"/>
         <p>Mirna del Carmen Solórzano Medrano, madre de Glenda Yaneira, está segura que no enterró a su hija. Ella desobedeció las indicaciones del  gobierno de su país y abrió el féretro que según contenía el cadáver de su hija: encontró un cuerpo lastimado, calcificado, que ella recuerda como “una momia blanca, sin pelo” y cuando le palparon los genitales, sintieron “un bulto”; sin embargo, pese a las dudas, procedió el ritual funerario por miedo a “haber desobedecido” a sus autoridades.</p>
      </div>
      <div class="col-md-3 map">
        -José Ángel Flores Bolaños
        -José Gilberto Flores García
        -Armando Pérez Nieto
        -Sabás Napoleón López Sánchez
        -José Francisco García Hernández
        -Adolfo Armando Fraile Vega
        -Henri Francisco Serrano Cuéllar
        -Pedro Antonio Franco Peña
        -María Magdalena Alonso Rivera
        -Glenda Yaneira Medrano Solórzano
        -Karen Yanneth Escobar Luna
      </div>
    </div>
    <div class="row photos">
      <div class="col-md-12">
        <img src="img/home_logo.png" data-src="img/cap2_salvador3.jpg" class="img-responsive"/>
      </div>
    </div>
    <div class="row photos">
      <div class="col-md-6">
        <img src="img/home_logo.png" data-src="img/cap2_salvador1.jpg" class="img-responsive"/>
      </div>
      <div class="col-md-3">
        <img src="img/home_logo.png" data-src="img/cap2_salvador2.jpg" class="img-responsive"/>
        <img src="img/home_logo.png" data-src="img/cap2_salvador4.jpg" class="img-responsive"/>
      </div>
      <div class="col-md-3">
        <img src="img/home_logo.png" data-src="img/cap2_salvador5.jpg" class="img-responsive"/>
        <img src="img/home_logo.png" data-src="img/cap2_salvador6.jpg" class="img-responsive"/>
      </div>
    </div>
  </div>
</section>

</div>

<section style="border-top: 40px solid #edbd22;">
  <div class="container">
    <h2>Guatemala</h2>
    <div class="row">
      <div class="col-md-8">
        <h4>24 de septiembre del 2010</h4>
        <img src="img/home_logo.png" data-src="img/mapas-06.png" class="img-responsive"/>
      </div>
      <div class="col-md-3 map">
          -Gilmar Augusto Morales Castillo
          -Hermelindo Maquín Huertas
          -Santos Enrique Agustín Hernández
          -Byron Mauricio Berdúo Agustín y Gelder Lizardo Boche Cante no pudieron salir de México porque el Gobierno de Tamaulipas no tenía lista su documentación.
      </div>
    </div>
      <p> La recomendación de la CNDH da datos contradictorios a los de los propios países. Por ejemplo, afirma que esa repatriación ocurrió el 21, fecha que se confunde probablemente con la de su identificación. Las fechas en las que afirma que los cuerpos fueron “identificados” y “repatriados” son sistemáticamente anteriores a las facilitadas por los distintos consulados como días de la repatriación. Solo coincide la del salvadoreño Francisco Antonio Blanco Cueva, de 31 años, el 29 de septiembre de 2010.
          Octubre y noviembre de ese año fueron los meses en los que más cuerpos fueron repatriados. </p>

    <div class="row photos">
      <div class="col-md-4">
        <img src="img/home_logo.png" data-src="img/cap2_guatemala1.jpg" class="img-responsive"/>
        <img src="img/home_logo.png" data-src="img/cap2_guatemala2.jpg" class="img-responsive"/>
      </div>
      <div class="col-md-4">
        <img src="img/home_logo.png" data-src="img/cap2_guatemala3.jpg" class="img-responsive"/>
        <img src="img/home_logo.png" data-src="img/cap2_guatemala4.jpg" class="img-responsive"/>
      </div>
    </div>
  </div>
</section>

</div>

<section style="border-top: 40px solid #28306c;">
  <div class="container">
    <h2>Honduras</h2>
    <div class="row">
      <div class="col-md-8">
        <h4>5 de noviembre de 2010</h4>
        <p> La Comisión Nacional de Derechos Humanos de Mexico sitúa las siguientes devoluciones a Honduras: dos cuerpos el 23, un cuerpo el 25 y dos cuerpos el 28 de septiembre, pero el único vuelo con restos repatriados registrado por las autoridades de ese país salió el 5 de noviembre. En lugar de los cinco féretros contabilizados por la CNDH, Honduras reporta ocho:
        <img src="img/home_logo.png" data-src="img/mapas-07.png" class="img-responsive"/>
      </div>
      <div class="col-md-3 map">
        -Vicente Medina Lozano
        -Alfredo Crisostomo García
        -Jose Francisco Velasquez Lozano
        -Eris Raúl Hernández Lemus
        -Tomasa Maritza Archaga Jacome
        -José Yovani Hernández González
        -Eredis Ayala Muñoz había sido confundido en la repatriación del 1 de septiembre con el de un ciudadano brasileño.
        -Carlos Alejandro Espinoza, bajo este nombre viajó en esa primera repatriación el cuerpo de Misael Castro Bardales.
       </div>
    </div>

    <h2>Guatemala</h2>
    <div class="row">
      <div class="col-md-8">
        <h4>5 de noviembre de 2010</h4>
        <p> Ese mismo día también fueron retornados a su país, Guatemala, 8 cadaveres:</p>
        <img src="img/home_logo.png" data-src="img/mapas-08.png" class="img-responsive"/>
      </div>
      <div class="col-md-3 map">
        -Byron Mauricio Berdúo Agustín
        -Gelder Lizardo Boche Cante
        -Efraín Pineda Morales
        -Richard Pineda Lacán
        -Mayra Cifuentes Pineda
        -José David Girón Martínez
        -Robin Estuardo Zuñiga Mijangos
        -Luis Humberto Alvarez Contreras
        -Los cadáveres de Byron Mauricio Berdúo Agustín, Gelder Lizardo Boche Cante seguían en México por falta de documentación, pese a estar identificados desde el 21 de septiembre.
      </div>
    </div>
  </div>
</section>

</div>

<section style="border-top: 40px solid #0b7834;">
  <div class="container">

    <h2>Brasil</h2>
    <div class="row">
      <div class="col-md-8">
        <h4>4 de octubre y 1 de noviembre de 2010</h4>
        <img src="img/home_logo.png" data-src="img/mapas-13.png" class="img-responsive"/>
      </div>
      <div class="col-md-3 map">
        -Juliard Aires Fernandes
        -Herminio Cardoso dos Santos
        -Los brasileños Juliard Aires Fernandes, de 20 años, y Herminio Cardoso dos Santos, de 24, volaron a su país el 1 de octubre, según la prensa local (la CNDH marca el día 4).
        -Natane Faustino Silva Amaral
        -El 1 de noviembre fue repatriada a Brasil Natane Amaral da Silva (Esposa de Edilsimar Junior Faustino da Silva), según reportó la prensa brasileña.
      </div>
    </div>

    <h2>Ecuador</h2>
    <div class="row">
      <div class="col-md-8">
        <h4>4 de octubre y 7 de diciembre de 2010</h4>
        <img src="img/home_logo.png" data-src="img/mapas-14.png" class="img-responsive"/>
      </div>
      <div class="col-md-3 map">
        -Telmo Leonidas Yupa Chimborazo
        <p>Segun el Cónsul de su país en México, fue repatriado el 23 de octubre, la CNDH especifica que fue el día 4 de octubre.</p>

        -María Magdalena Tipantaci Tubón
        <p>Fue repatriada el 7 de diciembre.</p>
      </div>
    </div>

    <h4>A fecha del 19 de noviembre de 2010 –dos meses después de la masacre--, quedaban 18 cuerpos sin identificar, según informó el director del Servicio Médico Forense de Tribunal Superior de Justicia del Distrito Federal. </h4>
  </div>
</section>

</div>

<section style="border-top: 40px solid #4bb69d";>
  <div class="container">
  <h2>2011</h2>

  <h2>Ecuador</h2>
    <div class="row">
      <div class="col-md-8">
        <h4>10 de febrero de 2011</h4>
        <img src="img/home_logo.png" data-src="img/mapas-09.png" class="img-responsive"/>
      </div>
      <div class="col-md-3 map">
        -Christian Andrés Caguana Campos
        <p>Hasta 2011 se consiguió identificar el cadáver, repatriado el 10 de febrero, según la CNDH (el 11, según el cónsul de su país en México)</p>
      </div>
    </div>
  </div>
</section>

</div>

<section style="border-top: 40px solid #a54994;">
  <div class="container">
    <h2>Guatemala</h2>
    <div class="row">
      <div class="col-md-8">
        <h4>23 de marzo de 2011</h4>
         <img src="img/home_logo.png" data-src="img/mapas-10.png" class="img-responsive"/>
      </div>
      <div class="col-md-3 map">
        -Nancy Pineda
        <p>Cuatro meses y medio después de que su padre, su hermano y su prima, con los que había emprendido el camino a EU, llegaran también muertos a su aldea, llegó  Nancy Pineda a Lacan,  Sipacate, en la región de Escuintla. La tardanza es inexplicable.</p>
      </div>
    </div>

    <h4>Tres semanas después, el 12 de abril, los 14 cuerpos restantes salieron del Servicio Médico Forense dependiente del Tribunal Superior de Justicia del Distrito Federal y fueron enviados al Instituto de Medicina Forense del Estado de México.</h4>
  </div>
</section>

</div>

<section style="border-top: 40px solid #eb671c;">
  <div class="container">
    <h2>India</h2>
    <div class="row">
      <div class="col-md-8">
        <h4>8 de junio de 2011</h4>
        <img src="img/home_logo.png" data-src="img/mapas-11.png" class="img-responsive"/>
      </div>
      <div class="col-md-3 map">
        -Ankitkumar Bharatbai Patel
          <p>Fue identificado y repatriado el 8 de junio de 2011 (fuentes del consulado apuntan a que fue en julio), aunque su familia tiene dudas sobre su identidad, pues el cuerpo no llevaba los anillos con los que partió el migrante y tenía unos tatuajes que les resultaban desconocidos.</p>
      </div>
    </div>
  </div>
</section>

</div>

<section style="border-top: 40px solid #65b22e;">
  <div class="container">

    <h2>A la Fosa Común</h2>
    <h4>22 de julio del 2011</h4>

    <p>Los 13 cadáveres restantes fueron enterrados en la fosa común del panteón  Dolores, cementerio principal de la Ciudad de México, donde el encargado de enterrar a los muertos que nadie reclama, los dejó en un lugar apartado en la sección de cadáveres anónimos.  El hombre informó que las bolsas blancas en las que fueron enterrados ‘los cocieron’ por dentro y aceleraron el proceso de descomposición.</p>
    En abril de ese año ocurrió el hallazgo de nuevas fosas, también en san Fernando, en las que muchas de las víctimas también eran migrantes, de donde se rescataron 189 cuerpos aunque siempre se afirmó que había cientos más.

    <h4>***FOTO DEL PANTEÓN DOLORES***</h4>

    <h2>2012</h2>

    <h2>Ecuador</h2>
    <div class="row">
      <div class="col-md-8">
        <h4>20 de enero de 2012</h4>
        <img src="img/home_logo.png" data-src="img/mapas-14.png" class="img-responsive"/>
      </div>
      <div class="col-md-3 map">
          -Rosa Amelia Panza Quilli
          <p>El cuerpo de Rosa Amelia Panza Quilli fue exhumado, incinerado y repatriado a Gualalcay, en la provincia de Azuay, en Ecuador.</p>
      </div>
    </div>
  </div>
</section>

</div>

<section style="border-top: 40px solid #4bb69d; border-bottom: 40px solid #000000;">
  <div class="container">

    <h4>30 de noviembre del 2012</h4>
    <div class="row">
      <div class="col-md-8">
        <p> El último día de la administración del expresidente Felipe Calderón, peritos de la PGR acudieron al panteón Dolores, sacaron 10 cuerpo de las víctimas (1 de esa masacre y 9 de las fosas encontradas en San Fernando en abril de 2011), los calcinaron, disminuyendo a polvo las evidencias del crimen y de la identidad de los cuerpos. Otra vez, las razones fueron sanitarias.
            A la fecha, de las 72 víctimas de San Fernando, hay 12  cadáveres de migrantes que permanecen sin identificar. Actualmente, gracias a un convenio forense, la PGR permitió la coadyuvancia del Equipo Argentino de Antropología forense que trata de devolver la identidad a los restos de la masacre de los 72 y de las fosas de San Fernando.
        </p>
      </div>
      <div class="col-md-3 map">
        <img src="img/home_logo.png" data-src="img/mapas-12.png" class="img-responsive"/>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8">
        <p> A la fecha, de las 72 víctimas de San Fernando, hay 12  cadáveres de migrantes que permanecen sin identificar.
        </p>
      </div>
      <div class="col-md-3 map">
        <img src="img/home_logo.png" data-src="img/mapas-15.png" class="img-responsive"/>
      </div>
    </div>

   <div class="row">
      <div class="col-md-8">
        <p>Actualmente, gracias a un convenio forense, la PGR permitió la coadyuvancia del Equipo Argentino de Antropología forense que trata de devolver la identidad a los restos de la masacre de los 72 y de las fosas de San Fernando.
        </p>
      </div>
      <div class="col-md-3 map">
          <img src="img/home_logo.png" data-src="img/mapas-16.png" class="img-responsive"/>
      </div>
    </div>
</section>

</div>

{% include "_chapter_nav.html" %}

{% endblock content %}
