{% extends "_masde72_base.html" %}

{% block content %}

{% set chapter_nav = {
  'previous': {
    'file': 'capitulo4.html',
    'title': '4. Los Culpables',
  },
  'next': {
    'file': 'creditos.html',
    'title': '7. Créditos',
  }
} %}


{% set nav_sections = [] %}
{% include "_fixed_nav.html" %}

<div class="intro">
  <h2>Capítulo 6</h2>
  <h1>Transparencia</h1>
  <div class="container">
    <p>La opacidad del gobierno, aunado a la contradicción de las versiones sobre lo ocurrido, ha sido una constante. Y el acceso a los documentos públicos del gobierno federal y órganos desconcentrados no ha sido sencillo. Pero el trabajo de periodistas e investigadores ha logrado que gradualmente se obtengan diversos documentos por la vía de la transparencia y la desclasificación. Documentos con datos y pistas sobre la transformación del riesgo en la región, las crecientes amenazas hacia los migrantes y la inacción gubernamental.</p>
    <p>En esta sección ponemos a disposición de los lectores la lista de documentos que hemos solicitado al gobierno mexicano vía acceso a la información pública. Además, abrimos acceso directo a los documentos que se han obtenido, a cables desclasificados del gobierno de Estados Unidos por la organización National Security Archive, así como a los cables que Wikileaks hizo públicos.</p>
    <p>Esta lista estará en constante actualización en la medida en que se obtengan nuevos documentos.</p>

    <hr/>

    <div class="row download-buttons">
      <div class="col-xs-4">
        <a href="data/migrantes-solicitudes-de-informacion.csv" class="btn btn-default btn-lg">Descargar lista de solicitudes via INFOMEX</a>
      </div>
      <div class="col-xs-4">
        <a href="data/archive_72.csv" class="btn btn-default btn-lg">Descargar lista de cables desclasificados por el National Security Archive</a>
      </div>
      <div class="col-xs-4">
        <a href="data/wklks_72.csv" class="btn btn-default btn-lg">Descargar lista de cables publicados por WikiLeaks</a>
      </div>
    </div>
  </div>
</div>

{% include "_chapter_nav.html" %}

{% endblock content %}



