{% extends "_masde72_base.html" %}

{% block content %}

{% set chapter_nav = {
  'previous': {
    'file': 'capitulo6.html',
    'title': '6. Transparencia',
  },
 
} %}


{% include "_fixed_nav.html" %}

<div class="container">

  <h2>Créditos</h2>
	<div class="row">
        <div class="col-sm-8 col-sm-offset-2">
					<dl class="primary-credits">
						<dd><strong>Coordinación General</strong>: Marcela Turati</dd>
						<dd><strong>Programación</strong>: David Eads, Iván Castaneira, Dan Hill, Mago Torres</dd>
						<dd><strong>Diseño</strong>: Emilio Cruz e Iván Castaneira</dd>
						<dd><strong>Coordinación de audiovisual</strong>: Mónica González Islas y Ginette Riquelme</dd>
						<dd><strong>Coordinación de mapas y bases de datos</strong>: Fernando Santillán</dd>
						<dd><strong>Edición y supervisión final</strong>: Daniela Rea, Thalía Guido, Marcela Turati, Fernando Santillán, Mónica González, Ginette Riquelme, Mago Torres</dd>
						<dd><strong>Asistente de Coordinación General</strong>: Thalía Guido
						<dd><strong>Asesoría especial</strong>: Concepción Peralta Silverio</dd>
					</dl>

			<h3>Investigación y redacción</h3>
			<div class="row">
				<div class="col-sm-offset-1 col-sm-5">
				<h4>La masacre</h4>
					<dl>
						<dd>Marcela Turati</dd>
						<dd>Thalía Guido</dd>
						<dd>Thelma Gómez</dd>
					</dl>
				<h4>Después de la masacre</h4>
					<dl>
		  				<dd>Daniela Rea Gómez</dd>
		  				<dd>Concepción Peralta Silverio</dd>
		  				<dd>Alba Tobella</dd>
		  				<dd>Thelma Gómez</dd>
		  		</dl>
		  	<h4>Las víctimas</h4>
		  		<dl>
		  			<dd>Daniela Pastrana</dd>
		  			<dd>Marcela Turati</dd>
		  		</dl>
		  	<h4>Los culpables</h4>
		  		<dl>
		  			<dd>Alberto Nájar</dd>
		  			<dd>Juan Luis García Hernández</dd>
		  			<dd>María Aranzazú</dd>
		  			<dd>Mayela Sánchez</dd>
		  			<dd>Thalía Guido</dd>
		  		</dl>
		  	
		  	<h4>Documentación y transparencia</h4>
		  		<dl>
		  			<dd>Mago Torres</dd>
		  			<dd>Juan Carlos Solís</dd>
		  			<dd>Documentos obtenidos por el Proyecto México del National Security Archive</dd>
		  		</dl>
		  	</div>
		  	<div class="col-sm-6">
		  	<h4>Video y Fotografía</h4>
		  		<dl>
		  			<dd>Javier García y Mauricio Palos: Video Introducción
		  			<dd>Guillermo Arias</dd>
		  			<dd>Luis Echeverría</dd>
		  			<dd>José Cabezas</dd>
		  			<dd>Eduardo Verdugo</dd>
						<dd>Javier García</dd>
						<dd>Mauricio Palos</dd>
						<dd>Encarnación Pintado</dd>
						<dd>Iván Castaneira</dd>
						<dd>Mónica González</dd>
						<dd>Ginette Riquelme</dd>
						<dd>Ricardo Ramírez</dd>
						<dd>José Manuel Jiménez</dd>
						<dd>AP</dd>
						</dl>

			<h4>Mapas y bases de datos</h4>
					<dl>
						<dd>Fernando Santillán</dd>
						<dd>Alejandro Melgoza</dd>
						<dd>Amín López</dd>
						<dd>Thalía Guido</dd>
						<dd>Arturo Contreras Camero</dd>
						<dd>Juan Luis García Hernández</dd>
						<dd>Melissa del Pozo</dd>
					</dl>
				</div>
			</div>

			<h5><strong>Más de 72</strong> es un sitio dedicado a investigar masacres de migrantes en México.</h5> 
			<h5>Invitamos a todas y todos a donar documentos o material que pudiera aportar nuevas aristas informativas, a colaborar con nosotros para seguir construyendo el sitio o aportar donativos para desarrollar el siguiente capítulo.</h5>
			<h5>Escríbenos a: <a href="mailto:sitiomasde72@gmail.com">sitiomasde72@gmail.com</a></h5>

			<h5><strong>Más de 72</strong> es un proyecto de Investigación de Periodistas de a Pie <br/>con el apoyo de la plataforma de periodismo latinoamericano CONNECTAS y el International Center For Journalists (ICFJ)</h5>

			<div class="row">
			    		<div class="col-sm-2"> <img src="img/periodistaspie.jpg" class="img-responsive"/></div>
			    		<div class="col-sm-5"> <img src="img/connectas.jpg" class="img-responsive"/></div>
			    		<div class="col-sm-5"> <img src="img/logo_icfj.jpg" class="img-responsive"/></div>
			</div>

    </div>
  </div> 
  

</div>
{% include "_chapter_nav.html" %}

{% endblock content %}



