{% extends "_masde72_base.html" %}

{% block content %}

{% set chapter_nav = {
  'previous': {
    'file': 'capitulo6.html',
    'title': '6. Transparencia',
  },
 
} %}


{% include "_fixed_nav.html" %}



  <h2>Créditos</h2>
	<div class="row">
        <div class="col-sm-8 col-sm-offset-2">
					<dl>
						<dd>Coordinación General: Marcela Turati</dd>
						<dd>Programación: David Eads, Iván Castaneira, Dan Hill, Mago Torres</dd>
						<dd>Diseño: Emilio Cruz e Iván Castaneira</dd>
						<dd>Coordinación de audiovisual: Mónica González Islas y Ginette Riquelme</dd>
						<dd>Coordinación de mapas y bases de datos: Fernando Santillán</dd>
						<dd>Edición y supervisión final: Daniela Rea Gómez, Thalía Guido, Marcela Turati, Fernando Santillán, Mónica González, Ginette Riquelme</dd>
						<dd>Asesoría especial: Concepción Peralta Silverio</dd>
					</dl>

			<h4>Investigación y redacción</h4>
				<h5>La masacre</h5>
					<dl>
						<dd>Marcela Turati</dd>
						<dd>Thalía Guido</dd>
						<dd>Thelma Gómez</dd>
					</dl>
				<h5>Después de la masacre</h5>
					<dl>
		  				<dd>Daniela Rea Gómez</dd>
		  				<dd>Concepción Peralta Silverio</dd>
		  				<dd>Alba Tobella</dd>
		  				<dd>Thelma Gómez</dd>
		  		</dl>
		  	<h5>Las víctimas</h5>
		  		<dl>
		  			<dd>Daniela Pastrana</dd>
		  			<dd>Marcela Turati</dd>
		  		</dl>
		  	<h5>Los culpables</h5>
		  		<dl>
		  			<dd>Alberto Nájar</dd>
		  			<dd>Juan Luis García Hernández</dd>
		  			<dd>María Aranzazú</dd>
		  			<dd>Mayela Sánchez</dd>
		  			<dd>Thalía Guido</dd>
		  		</dl>
		  	<h5>Documentación y transparencia</h5>
		  		<dl>
		  			<dd>Mago Torres</dd>
		  			<dd>Juan Carlos Solís</dd>
		  		</dl>
		  	<h5>Video y Fotografía</h5>
		  		<dl>
		  			<dd>Guillermo Arias/Archivo - Fotografía de San Fernando Tamaulipas</dd>
		  			<dd>Luis Echeverría -  Fotografías de Guatemala</dd>
		  			<dd>José Cabezas - Fotografías de El Salvador</dd>
		  			<dd>AP en fotografía del sobreviviente</dd>
		  			<dd>AP en forografía Rancho San Fernando</dd>
		  			<dd>Eduardo Verdugo AP/Archivo - Fotografía Policías en DF</dd>
						<dd>Javier García - Video Introducción</dd>
						<dd>Mauricio Palos - Video Introducción</dd>
						<dd>Encarnación Pintado - Video Testimonio de Brasil-Juliard</dd>
						<dd>Iván Castaneira - Video y Fotografía Testimonio de Brasil-Juliard</dd>
						<dd>Mónica González - Video y Fotografía Testimonio de El Salvador-Yeimi-</dd>
						<dd>Ginetter Riquelme - Video y Fotografía Testimonio de Honduras-Wilmer</dd>
						<dd>Ricardo Ramírez - Fotografía Testimonio de Guatemala-Nancy Pineda</dd>
						<dd>José Manuel Jiménez - Video detención de Z-42</dd>
						<dd>Secretaría de Marina - Video Sobrevuelo Rancho en San Fernando</dd>
					</dl>

			<h5>Mapas y bases de datos</h5>
					<dl>
						<dd>Fernando Santillán</dd>
						<dd>Alejandro Melgoza</dd>
						<dd>Amín López</dd>
						<dd>Thalía Guido</dd>
						<dd>Arturo Contreras Camero</dd>
						<dd>Juan Luis García Hernández</dd>
						<dd>Melissa del Pozo</dd>
					</dl>


			<h4>Con el apoyo de la plataforma de periodismo latinoamericano CONNECTAS y el
				International Center For Journalists (ICFJ)
			</h4>

			<div class="creditos">
				<div class="logos">
			    		<img src="img/periodistaspie.jpg" class="periodistas-logo"/>
			    		<img src="img/connectas.jpg" class="connectas-logo" />
			    		<img src="img/logo_icfj.jpg" class="connectas-logo" />
			    </div>
			</div>

    </div>
  </div> 
  
{% include "_chapter_nav.html" %}

{% endblock content %}



