{% extends "_masde72_base.html" %}

{% block content %}
<div class="intro">

  <div class="intro-content">
    <h1 class="hide">Mas De 72</h1>
    <img src="img/home_logo.png"/>

    <p>El 23 de agosto de 2010 la Secretaría de Marina informó del hallazgo de 72 cadáveres en un rancho-bodega abandonado en el municipio de San Fernando, Tamaulipas. </p>

    <p>Eran 58 hombres y 14 mujeres, todos migrantes, todos con las manos amarradas y con tiro de gracia.
    </p>

    <p>Este proyecto realizado por el equipo de investigación de Periodistas de a Pie y periodistas invitados, con fondos de la iniciativa Connectas y al ICIJ, evidencia de manera gráfica, con fuentes y de forma sistematizada las inconsistencias de la información oficial y plantea las preguntas que aún deben responder las diversas instancias de gobierno.</p>

    <a class="btn btn-default" href="capitulo1.html">ENTRAR</a>
  </div>

  <div class="intro-video">
    <iframe src="//player.vimeo.com/video/114505355?autoplay=1&amp;loop=1&amp;badge=0&amp;portrait=0&amp;byline=0&amp;title=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>

  <div class="logos">
    <img src="img/periodistaspie.jpg" class="periodistas-logo"/>
    <img src="img/connectas.jpg" class="connectas-logo" />
  </div>
</div>
{% endblock content %}
