{% extends "_base.html" %}
{% block css %}
<link rel="stylesheet" type="text/css" href="css/style.css" />

{% endblock %}



{% block content %}
<div class="container">
  <div class="jumbotron">
    <h1>Mas de 72</h1>
    <p>Replace this message with your own content in <code>{{ PROJECT_PATH }}/index.html</code>.</p>
   {{read_file("_textos/matanza.md")|markdown}}
    <img src="img/prueba.png" class="img-responsive"/>
  </div>
  <div class="row">
  	<div class="col-md-4"><p>COLUMN</p>
	<img src="img/prueba.png" class="img-responsive"/>
  	</div>
  	<div class="col-md-4">{{texto}}</div>
  	<div class="col-md-4">COlumna 3</div>

  </div>



</div>
{% endblock content %}

