{% extends "_masde72_base.html" %}

{% block content %}
<div class="intro">

  <div class="intro-content">
    <h1 class="hide">Mas De 72</h1>
    <img src="img/home_logo.png"/>

    <p> Másde72 es un sitio de investigación periodística sobre las masacres de migrantes en México. Es un intento de comisión de la verdad en tiempo real que plantea las preguntas que no han respondido las autoridades y devela los mecanismos de la impunidad que permiten que el horror continúe: las inconsistencias de las versiones oficiales de los hechos, el encubrimiento a funcionarios involucrados, los vacíos judiciales, los malos procedimientos forenses y las violaciones de los derechos de las víctimas al reconocimiento, a la justicia, a la verdad y a la reparación.</p>
    <p>Conocer qué pasó y convertir esa memoria en una conciencia colectiva como una aportación para que estos crímenes no se repitan.</p>

    <p>Este proyecto es realizado por el equipo de investigación de Periodistas de a Pie y periodistas invitados e inicia con el apoyo de la plataforma de periodismo latinoamericano CONNECTAS y el International Center For Journalists (ICFJ).
    </p>
    <a class="btn btn-default" href="capitulo1.html">PRIMERA ENTREGA: SAN FERNANDO I</a>
  </div>

  <div class="intro-video">
    <iframe src="//player.vimeo.com/video/114505355?autoplay=1&amp;loop=1&amp;badge=0&amp;portrait=0&amp;byline=0&amp;title=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>

  <div class="logos">
    <img src="img/periodistaspie.jpg" class="periodistas-logo"/>
  </div>
</div>
{% endblock content %}


